@font-face {
    font-family: 'Bree Rg';
    src: url('Bree-Regular.woff2') format('woff2'),
        url('Bree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

