@font-face {
    font-family: 'Bree Lt';
    src: url('Bree-Light.woff2') format('woff2'),
        url('Bree-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

